<a href="https://colab.research.google.com/github/abayomiabiodun/Project/blob/main/Python_Basics_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is programming ?

Programming is a way to `instruct the computer to perform various tasks`

# What is python programming?

Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured, object-oriented and functional programming by <span style="color:red"> Wikipedia</span>

# Application of Python Programming Language

 1. Web Development
 2. Game Development
 3. Machine Learning and Artificial Intelligence
 4. Data Science and Data Visualization
 5. Desktop GUI
 6. Web Scraping Applications
 7. Business Applications
 8. Audio and Video Applications
 9. CAD Applications
 10. Embedded Applications

### Python Variable

Variables are containers for storing data values.

## Variable creation

In [ ]:
a = "Python"
b = 40.7
x = 2
y = 4

print(a)
print(b)
print(x)
print(y)

Python
40.7
2
4

In [ ]:
3  = "Python"
print(3)

SyntaxError: cannot assign to literal (3763610352.py, line 1)

In [ ]:
_ = "Python"
print(_)

Python

In [ ]:
NUM1 = 23
num2 = 40
total = NUM1 + num2
print(total)

63

## Rules for Naming Variable in Python
 - A variable name must start with a letter or the underscore character
 - A variable name cannot start with a number
 - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
 - Variable names are case-sensitive (age, Age and AGE are three different variables)
 - A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

In [ ]:
age = 4
print(age)

4

In [ ]:
Age = 70
print(age)

4

In [ ]:
name_of_student = 'Victor'
print(name_of_student)

Victor

In [ ]:
## many value to a variable name

a,b,c = 40, 30, 20

print(a)
print(b)
print(c)

40
30
20

In [ ]:
## outputing multiple variable
items1 = 'book '
items2 = 'pen '
items3 = 'bag'

print(items1+items2+items3)
print(items1,items2,items3)

#print(items1)
#print(items2)
#print(items3)

book pen bag
book  pen  bag

## Built-in Data Type in Python

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

 - Text Type:	str
 - Numeric Types:	int, float, complex
 - Sequence Types:	list, tuple, range
 - Mapping Type:	dict
 - Set Types:	set
 - Boolean Type:	True or False

In [ ]:
Name = "Emmanuel"
School = "OAU"
Course_of_study = "Python"
print(Name)
print(type(Name))
print(School)
print(type(School))
print(Course_of_study)
print(type(Course_of_study))

Emmanuel
<class 'str'>
OAU
<class 'str'>
Python
<class 'str'>

## Numeric type
 - int
 - float
 - complex

In [ ]:
# Integer data type - whole number
num1 = 34
# decimal - float data type
num2 = 49.5
num3 = 3 + 5j
print(num1)
print(type(num1))
print(num2)
print(type(num2))
print(num3)
print(type(num3))

34
<class 'int'>
49.5
<class 'float'>
(3+5j)
<class 'complex'>

# List

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,90,100]
names = ["Miracle", "Oluwaseun", "Victor", "Emmanuel", "Oyindamola"]
print(numbers)
print(names)
print(type(numbers))
print(type(names))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 90, 100]
['Miracle', 'Oluwaseun', 'Victor', 'Emmanuel', 'Oyindamola']
<class 'list'>
<class 'list'>

# Tuple

In [ ]:
numbers = (1,2,3,4,5,6,7,8,9,90,100)
names = ("Miracle", "Oluwaseun", "Victor", "Emmanuel", "Oyindamola")
print(numbers)
print(names)
print(type(numbers))
print(type(names))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 90, 100)
('Miracle', 'Oluwaseun', 'Victor', 'Emmanuel', 'Oyindamola')
<class 'tuple'>
<class 'tuple'>

# Range

In [ ]:
r = range(1,20)
print(r)
print(type(r))

range(1, 20)
<class 'range'>

In [ ]:
for i in range(1,20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# Set

In [ ]:
s = {1,2,3,4,4,4,4,'Aderonke', 'victor'}
print(s)

{1, 2, 3, 4, 'victor', 'Aderonke'}

## Dictionary

In [ ]:
d = {"name": "Abayomi", "AGE": 25, "Course":"Python"}
print(d)
print(type(d))

{'name': 'Abayomi', 'AGE': 25, 'Course': 'Python'}
<class 'dict'>

## Boolean ( True or False )

In [ ]:
print(2 == 2)

True

In [ ]:
print(2 > 3)

False

In [ ]:
print(4<5)

True

# Python Conditions and If statements

Python supports the usual logical conditions from mathematics:

 - Equals: `a == b`
 - Not Equals: `a != b`
 - Less than: `a < b`
 - Less than or equal to: `a <= b`
 - Greater than: `a > b`
 - Greater than or equal to: `a >= b`

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the `if` keyword and other conditional statement are `elif` and `else`

## Example

## if
## elif
## else

In [ ]:
Bootcamp_Sponsor = input("Enter the name of this Bootcamp Sponsor: ")

if Bootcamp_Sponsor == "Microsoft":
    print(Bootcamp_Sponsor," is the one sponsoring this Bootcamp")
else:
    print("i'm not aware of the name of the Sponsor of this Bootcamp")

Enter the name of this Bootcamp Sponsor: Microsoft
Microsoft  is the one sponsoring this Bootcamp

In [ ]:
colour = input("Enter any traffic light colour of your choice: ")

if colour == 'yellow':
    print("The vehicle should get set")
elif colour == 'green':
    print("The vehicle should move")
elif colour == 'red':
    print("The vehicle should stop")
else:
    print("I'm not familiar with the colour you gave")

Enter any traffic light colour of your choice: white
I'm not familiar with the colour you gave

In [ ]:
original_number = 20

guess = int(input("Guess a number: "))

if guess < original_number:
    print("Your guess is less than the original number")
elif guess > original_number:
    print("Your guess is greater than the original number")
elif guess == original_number:
    print("You guess right")
else:
    print("ohhh sorry, you really tried but try again")

Guess a number: 20
You guess right

# Loop In Python
## Type of loop in python
 - for loop
 - while loop

# For loop

In [ ]:
fruits = ["apple", "banana", "cherry"]

#print(fruits)

for i in fruits:
    print(i)

apple
banana
cherry

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## While loop

In [ ]:
i = 0

while i<=10:

    print(i)

    i +=3

0
3
6
9

In [ ]:
i = 100 #initialization

while i <= 0:  # condition
    print(i)

    i  -= 1 # Increment/ decrement

In [ ]:
print("hello")

hello

In [ ]:
i = 2.0

while i <= 20:
    print(i)
    i+=2

2.0
4.0
6.0
8.0
10.0
12.0
14.0
16.0
18.0
20.0

In [ ]:
password = " "

In [ ]:
i = 0 # initialization

while i <= 20: # condition
    print(i)

    i  += 3 # Increment or decrement

0
3
6
9
12
15
18

# Function in Python

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

### Examples

In [ ]:
print("hello world")

hello world

### Calling a Function
To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
    return("Hello from a function, this is the third week of this bootcamp")

my_function()

'Hello from a function, this is the third week of this bootcamp'

### Arguments
##### Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
num1 = 2
num2 = 4
num3 = 6

total = num1 + num2 + num3

print(total)

12

In [ ]:
def sum_of_three_numbers(num1, num2, num3):
    total = num1 + num2 + num3
    return total

print(sum_of_three_numbers(20,4,60))

84

In [ ]:
def greet_users(fname):
    return(fname + ", Hello and how are you? ")


print(greet_users("Alexander"))
print(greet_users("Emmanuel"))
print(greet_users("Oyindamola"))
print(greet_users("Abayomi"))
print(greet_users("Gbemiga"))

Alexander, Hello and how are you?
Emmanuel, Hello and how are you?
Oyindamola, Hello and how are you?
Abayomi, Hello and how are you?
Gbemiga, Hello and how are you?

# Object Oriented Programming

### Python Classes and Objects

# Python Classes/Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

# Create a Class

# Example
Create a class named MyClass, with a property named x:

In [ ]:
class MyClass:
  x = 69

In [ ]:
print(MyClass)

<class '__main__.MyClass'>

Create an object named p1, and print the value of x:

In [ ]:
a = MyClass()
print(a.x)

69

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

## Python Inheritance
Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

# Create a Parent Class
Any class can be a parent class, so the syntax is the same as creating any other class:

## Example
Create a class named `Person`, with `firstname` and `lastname` properties, and a `printname` method

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

If you add a method in the child class with the same name as a function in the parent class, the inheritance of the parent method will be overridden.